snippet #! "C# boilerplate" b
// ${1:Description}
// ${2:Mark Hegreberg}
// ${3: `!v strftime("%c")`}

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
$0










// Soli Deo Gloria
endsnippet

snippet gs "get and set"
{ get; set; }

endsnippet
