snippet #! "C# boilerplate" b
// ${1:Description}
// ${2:Mark Hegreberg}
// ${3: `!v strftime("%c")`}

namespace ${4: Name.Space};
$0

	public class ${5: Class}
{

}








// Soli Deo Gloria
endsnippet

snippet gs "get and set"
{ get; set; }
endsnippet

snippet gi "get and init"
{ get; init; }
endsnippet
